QPushButton {
  
    /* padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initia */
}

   


QLabel#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #f48221;
}

QLabel#pixmap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec720b;
    min-height: 100vh;
}